nav {
    background-color: var(--dark-color);
    width: 400px;
    height: 150px;
    margin: 0;
}

a img {
    width: 100px;
    margin-left: 30px;
}

nav button {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin-right: 30px;
}

nav button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}
