<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-md-12">
            <app-header [isLoggedIn]="true"></app-header>
        </div>
    </div>
    <div class="row flex-grow-1">
        <div class="col-md-12">
            <form class="d-flex flex-column" (ngSubmit)="onSubmit()" [formGroup]="imageGenForm">
                <label class="fw-bold text-center my-3">Text to Image Generator!</label>
                <input 
                    placeholder="Enter some text..."
                    class="border border-dark rounded-3 fs-2"
                    name="prompt"
                    formControlName="prompt"
                />
                <button type="submit" class="btn mt-3 mx-5" [disabled]="imageGenForm.invalid">GENERATE</button>
            </form>
            <div class="d-flex flex-column">
                <p *ngIf="errorMsg !== ''" class="text-danger mt-2">{{ errorMsg }}</p>
                <div class="loader align-self-center mt-5" *ngIf="spinnerActive"></div>
                <img *ngIf="imageName && !spinnerActive" alt="Generated image" [src]="imageUrl" class="img-fluid rounded mx-auto mt-4 d-block border border-light" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>