@import '~@fortawesome/fontawesome-free/css/all.min.css';

form label {
    color: var(--secondary-color);
    font-size: 20px;
    letter-spacing: 0.1em;
}

form input {
    color: var(--secondary-color);
}

form button {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    letter-spacing: 0.1em;
}

form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.container {
    width: 400px;
    height: 100vh;
    background-color: var(--primary-color);
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#mic {
    border-radius: 50%;
    width: fit-content;
    position: absolute;
}