form label {
    color: var(--secondary-color);
    font-size: 20px;
    letter-spacing: 0.1em;
}

form button {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    letter-spacing: 0.1em;
}

form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

p a {
    cursor: pointer;
    color: var(--success-color);
    text-decoration: none;
}

.container {
    width: 400px;
    height: 100vh;
    background-color: var(--primary-color);
}