/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --primary-color: #9792E3;
    --secondary-color: #5A5766;
    --dark-color: #48435C;
    --light-color: #EDFFEC;
    --success-color: #61E786;
}

body {
    background-color: black;
}

.loader {
    border: 16px solid var(--light-color);
    border-radius: 50%;
    border-top: 16px solid var(--success-color);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }